@font-face {
    font-family: 'OneDay';
    src: url('/fonts/ONEDAY.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


.font-oneday {
    letter-spacing: 0.05em;
    font-family: 'OneDay', sans-serif;
}

.font-monserat-light {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-monserat-regular {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-monserat-medium {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-monserat-semibold {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.font-monserat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-monserat-extrabold {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.font-monserat-black {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
}